body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  background: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

html,
body,
#___gatsby,
div[role="group"] {
  height: 100%;
}

.hero__image {
  overflow: hidden;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  transform: translateZ(0px);
  animation-name: zoomScale;
  animation-duration: 16s;
  animation-fill-mode: forwards;
  /* background-image: url('/dot.svg'), radial-gradient(50% 50%, transparent 50%, #000 100%), linear-gradient(#111, #000); */
}

::selection {
  background: #C86DD7;
  color: #fff;
}

@keyframes zoomScale {
  0% {
    transform: translateY(-30px) scale(1.3) rotate(0.02deg);
  }

  to {
    transform: translateY(0px) scale(1.5) rotate(0.02deg);
  }
}

.svg-bg {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23646464' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%237a7a7a' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23646464' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%237a7a7a' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%238f8f8f' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%238f8f8f' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23adadad' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23cccccc' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23adadad' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%238f8f8f' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23cccccc' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%238f8f8f' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23cccccc' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23adadad' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23cccccc' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  /* height: calc(100vh + 60px); */
  /* background-image: radial-gradient(50% 50%, transparent 50%, #000 100%), url('/dot.svg'), linear-gradient(#111, #000); */
  background-color: none;
  transform: skewY(12deg);
}

pre.editor.editor-colors {
  position: relative;
  display: block;
  overflow-x: auto;
  margin-bottom: 30px;
  padding: 25px 25px 25px 30px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #eee;
  font-family: Menlo, Monaco, Courier, monospace;
}

pre.editor.editor-colors::-webkit-scrollbar {
  display: none;
}

pre.editor.editor-colors::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  border-right: 1px solid #eee;
  background: rgba(0, 0, 0, 0.01);
  content: '';
}

pre.editor.editor-colors {
  counter-reset: linenumbers;
}

.editor.editor-colors div.line {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.6;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
}

.editor.editor-colors div.line::before {
  position: relative;
  top: 3px;
  left: -19px;
  float: left;
  margin-right: 20px;
  width: 12px;
  color: #ccc;
  content: counter(linenumbers);
  counter-increment: linenumbers;
  text-align: right;
  white-space: nowrap;
  font-size: 10px;
  user-select: none;
}

p code,
ul code {
  display: inline;
  margin: 0 2px;
  padding: 4px 6px;
  border-radius: 2px;
  box-shadow: 0 0 0 1px #ddd;
  white-space: nowrap;
  font-size: 0.75em;
}

.skipnav {
  text-align: left;
}

.skipnav a {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skipnav a:focus,
.skipnav a:active {
  color: #fff;
  position: static;
  left: 0;
  width: auto;
  height: auto;
  overflow: visible;
  text-decoration: underline;
}